<div class="side-bar-header">
  <div class="name"><a href="#">田中</a></div>
  <div class="create-chat">
    <div class="chat-buttom"><a href="#">チャットを作成する</a></div>
  </div>
</div>

<div class="rooms">
   <div class="chat-room"><a href="#">techroom1</a></div>
   <div class="chat-room"><a href="#">techroom2</a></div>
</div>